
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,700');

*{
  margin: 0;
  padding: 0;
}
$primary-color: #ED1C24;
body{
    font-family: 'Nunito', sans-serif;
}
#plays-pause{
    background-color: transparent;
    box-shadow: none;
    border:none;
    // background-color: red;
}
#plays-pause{
    outline: none;
    width: 100%;
    background-color: black;
    padding: 10px;
    svg{
        width: 25px;
        height: 25px;
    float: left;

    }
}
#video-controls #play-pause {
    height: 100%;
}
#custom-seekbar
{  
  cursor: pointer;
  height: 5px;
//   margin-bottom: 10px;
//   outline: thin solid $primary-color;
  overflow: hidden;
  background-color: black;
  position: relative;
      margin-top: -7px;
  width: 100%;
//   top: -7px;
  z-index: 6;
}
#custom-seekbar span
{
  background-color: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}


/* following rule is for hiding Stack Overflow's console  */
.as-console-wrapper{ display: none !important;}

.home-postion{
    transition: all .2s ease-in-out;
}
.airtel-gallery-section{
    min-height: 600px;
}
.information-form-section{
    min-height: 790px;
}
.video-wrapper{
  position: relative;
  // height: 550px;
  overflow: hidden;
  .first-vedio{
    // position: absolute;
    top:0;
    width: 100%;
    // width: 100%;
    // width: 100%;
    // height: 100%;
    // height: 600px;
    
  }
  .index-1{
    // width: 100%;

  }
  .index-2{
    z-index: -1;
    // width: 100%;
    position: absolute;
    left: 0;
    // height: 100%;
  }
  
}

// video::-webkit-media-controls {
//   display:none !important;
// }
.home-postion{
    position: absolute;
    top:0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
}
#video-controls{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  text-align: center;
  z-index: 3!important;
  height: 100%;
  #play-pause{
    width: 100%;
    // height: 99.2%;
    border:none;
    box-shadow: none;
        background: rgba(0, 0, 0, 0.70);
        
  }
  @media(max-width:500px){
      #play-pause{
        svg{
            width: 35px;
        }
      }
  }
}


.one{
  z-index: 1!important;
}

video {
  object-fit: fill;
  // width: 100%;
  // height: 500px;
}
.video-list{
//   height: 800px;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .video-list{
        // height: 575px;
      }
}
.progress{
  width: 100%;
}
.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.progress-bar{
  background-color: $primary-color;
}
.section-bottom{
  padding-top: 15px;
  padding-bottom: 15px;
  .home-left{
    h6{
      margin: 0;
      padding-bottom: 15px;
    }
  }
  .home-right{
    span{
        float:left;
        z-index: 2;
        // padding-right: 15px;

        .switch {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 17px;
          margin-left: 7px;
          margin-right: 7px;
        }
        
        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 5px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          bottom: -4px;
          left:-1px;
          background-color: #fff;
          -webkit-transition: .4s;
          transition: .4s;
          box-shadow: 3px 1px 7px #0000004f;
        }
        
        input:checked + .slider {
          background-color: rgba(154, 154, 154, 0.71);
        }
        
        
        
        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
          background-color:rgba(154, 154, 154, 0.71);
        }
        
        .slider.round:before {
          border-radius: 50%;
          border-color:#999999;
        }
    }
    .btn-group-first{
      button{
        border: none;
        color: #BDBDBD;
        font-size: 16px;
text-align: center;
background-color: transparent;
width: 120px;
border:1px solid #BDBDBD;
border-radius: 30px;
    border-top-right-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
        padding: 12px;
        
      }
      .active{
        background-color: $primary-color;
        color: #fff;
        z-index: 2;
        // margin-left: -10px;
      }
      .btn-right-info{
            margin-left: -42px;
      }
    }
    
  }
}

// @media(max-width: 500){
//     .section-bottom{
//         .home-right{
//             .btn-group-first{
//                 span{
//                     float: none;
//                     display: block;
//                 }
//             }

//         }
//     }
    
// }
footer{
  background: #F4F4F4;
  padding: 28px;
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right:0;
  p{
    margin-bottom: 0;
    text-align: right;
    padding-top: 10px;
  }
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.home-right{
  display: block;
    width: 100%;
    float: right;
    .btn-group-first{
          position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: block;
    vertical-align: middle;
    width: 100%;
    text-align: right;
    }
}
.list-group-item{
  text-align: right;
  border:none;
  li{
    a{
      display: inline-block;
        color: #fff;
      // width: 100px;
      font-size: 18px;
text-align: center;
      &:hover{
        text-decoration: none;
      }
    }
    .color-red{
      background-color: $primary-color;
      // padding: 10px;
border-radius: 3px;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;

svg{
      position: relative;
    top: 5px;
    padding-right: 3px;
  
}
span{
     padding-bottom: 5px;
    display: inline-block;
}
    }
    .color-gray{
         background: rgba(0, 0, 0, 0.54);
    border-radius: 3px;
    padding: 6px;
    padding-bottom: 12px;
    position: relative;
    top: -1px;
    padding-left: 30px;
    padding-right: 30px;

    }

  }
}
.list-group-item{
  padding-right: 0;
      padding-top: 21px;
}
.visible-mobile{
  display: none;
}
.visible-desktop{
  display: block;
}
.section-bottom .home-right .btn-group-first {
    transition: all .1s ease-in-out;
        // padding-right: 28px;

}
.section-bottom .home-right .btn-group-first .active {
    background-color: #ED1C24;
    color: #fff;
    z-index: 2;
    // width: 90px;
    transition: all .1s ease-in-out;
    // padding-right: 0px;
}
.main-navigation-section .main-navigation .custom-navbar{
    padding: 15px;
}
@media (max-width: 1450px){
.video-list {
    // height: 500px;
}
}
@media(max-width:768px){
    .information-form-section {
    min-height: 633px;
}
#plays-pause svg {
    width: 16px;
    height: 20px;
    float: left;
    margin-left: 10px;
}
#plays-pause {
    outline: none;
    width: 100%;
    background-color: black;
    padding: 4px;
}
    .custom-navbar-brand{
            display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 20px;
    }
    .custom-navbar-brand{
        display: block;
        img{
            width: 70px;
        }
    }
    .main-navigation{
        height: 60px;
    }
    .main-navigation-section .main-navigation .custom-navbar{
        height: 100%;
    }
   .main-navigation-section .main-navigation .custom-navbar {
    padding: 15px;
}
.section-bottom{
    min-height: 495px;
}
footer p {
    font-size: 12px;
}
footer{
    svg{
        width: 50px;
    }
}
footer {
    padding: 0!important;
}
.modal-home .modal-dialog {
    margin: 0 auto;
}
.modal-dialog {
    margin: 4px;
}
.airtel-gallery-section .airtel-gallery .custom-gallery-search {
    // padding-top: 0px!important;
}
#video-controls {
    height: 99%;
}
#custom-seekbar {
    // top: -7px;
}
.main-navigation-section .main-navigation .custom-navbar{
    padding-bottom: 0!important
}
#video-controls #play-pause {
    height: 100%;
}
  .video-list {
    height: auto;
}
.visible-desktop{
  display: none;
}
.section-bottom .home-right .btn-group-first button {
font-size: 14px;
text-align: center;
    padding: 5px;
}
.visible-mobile{
  display: block;
  margin-bottom: 30px;
}
.row-reverse{
  flex-direction: column-reverse;
}
.section-bottom .home-right .btn-group-first button {
    width: 70px;
    // padding: 10px;
}
.home-right .btn-group-first{
  text-align: center;
}
.progress {
    top: -8px;
    position: relative;
}
.section-bottom {
    padding-top: 6px;
    padding-bottom: 15px;
}
.home-right{
  border-bottom: 1px solid  #F4F4F4;
      padding-bottom: 16px;
}
.home-left{
  margin-top: 15px;
  margin-bottom: 15px;
}
.section-bottom .home-left h6 {
    margin: 0;
    padding-bottom: 11px;
}
.list-group-item{
  padding: 0;
    text-align: left;

}
.list-group-item li a{
  font-size: 14px;
}
.list-group-item li .color-red span {
    padding-bottom: 0;
    display: inline-block;
}
.list-group-item li .color-red {
    padding: 0;

    padding-left: 4px;
    padding-right: 11px;
    /* padding: 5px; */
    padding-bottom: 8px;
}
.list-group-item li .color-red svg {
    // position: relative;
    // top: 2px;
    padding-right: 0;
    width: 20px;
}
.list-group-item li .color-gray {
    background: rgba(0, 0, 0, 0.54);
    border-radius: 3px;
    padding: 6px;
    padding-bottom: 8px;
    position: relative;
    top: 1px;
    padding-left: 30px;
    padding-right: 30px;
}
.play-pause{
  svg{
    width: 30px;
  }
}
footer {
    background: #F4F4F4;
    padding: 18px;
    // position: fixed;
    // bottom: 0;
    width: 100%;
}
.section-bottom .home-right .btn-group-first .btn-right-info {
    margin-left: -20px;
}
.section-bottom .home-right .btn-group-first span{
    // float: none;
    // display: block;
    padding-left: 20px;
    padding-top: 5px;
}
}


///////////////////////////Gallery Css Start/////////////////////
.airtel-gallery-section{
  .airtel-gallery{
      
      .custom-gallery-search{
          padding-top: 45px;
          .custom-search-input-group{
              float: right;
              width: 300px;
              border-radius: 5px;
              span{
                  background-color: #F6F6F6;
                  border: 0px;
              }
          }
          .custom-search-form-control{
              background-color: #F6F6F6;
              border: 0px;
              padding-left: 0px;
              box-shadow: none;
          }
         
      }
      h1{
          font-size: 30px;
          line-height: 36px;
          color: #444444;
          padding-top: 45px;
          padding-bottom: 32px;
      }

     .custom-card-info{
          .thumbnail-wrapper{
              width: 100%;
              position: relative;
              overflow: hidden;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
              .info{
                  padding-top: 15px;
                  padding-left: 15px;
                  .title-holder{
                      font-size: 18px;
                      line-height: 22px;
                      color: #444444;
                  }
              }

              .additional{
                  padding-top: 10px;
                  // padding-bottom: 15px;
                  padding-left: 15px;
                  .summary{
                      p{
                          font-size: 14px;
                          line-height: 17px;
                          color: rgba(0, 0, 0, 0.54);
                      }
                  }
              }

              .image{
                  position: relative;
                  overflow: hidden;
                  img{
                      width: 100%;
                      display: block;
                  }
              }
          }
      }
          
      .custom-gallery-button{
          text-align: center;
          .custom-button{
              text-align: center;
              // width: 360px;
              background-color: red;
              border-radius: 5px;
              padding: 10px;
              font-size: 18px;
              line-height: normal;
              color: #FFFFFF;
              font-weight: bold;
          }
      }

          
          
  }

  @media(max-width:500px){
      .airtel-gallery{
          .custom-gallery-header{
              text-align: center;
              h1{
                  padding-bottom: 0px;
              }
          }

          .custom-gallery-search{
             
            //   padding-right: 55px;
              padding-bottom: 20px;
              padding-top: 20px;

              .custom-search-input-group{
                  width: 100%;
              }
          }
          .custom-card-info{
              padding-bottom: 20px;
          }
      }
  }

  @media screen and (max-width: 400px) and (min-width: 375px) {
      .airtel-gallery{
          .custom-gallery-search{
              padding-right: 35px;
          }
      }
  }

  @media screen and (max-width: 374px) and (min-width: 300px) {
      .airtel-gallery{
          .custom-gallery-search{
              padding-right: 10px;
          }
      }
  }
}
///////////////////////////Gallery Css End/////////////////////


//////////////Information Form Css Start///////////////////
.main-navigation-section{
  .main-navigation{
      .custom-navbar{
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          opacity: 0.9;

          .custom-navbar-brand{
              margin-left: 0px;
              padding: 0;
          }
      }
  }

  @media(max-width:500px){
    .main-navigation{
        // height: 38px;
        .custom-navbar{
            padding-top: 0px !important;
            padding-bottom: 0;
            .custom-navbar-brand{
                svg{
                    // width: 80px;
                }
            }
        }
    }
  
  }
}


.information-form-section{
    // ::-webkit-scrollbar { 
    //     display: none; 
    // }
    // ::-webkit-scrollbar {
    //     width: 10px;
    // }
    // ::-webkit-input-placeholder { 
    //     color: rgb(211, 208, 208);
    //   }
    // ::-moz-placeholder { /* Firefox 19+ */
    //     color: rgb(211, 208, 208);
    // }

    .error-message{
        padding-left: 0px;
        padding-right: 0px;
    }
  .custom-info-form-group{
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      margin-bottom: 0px;

      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
           margin: 0; 
      }
  }
  .main-header{
      text-align: center;
      font-size: 30px;
      line-height: normal;
      color:  #444444;
      padding-top: 50px;
  }

  .form-lable-top{
      font-size: 14px;
      line-height: normal;
      color:  #444444;
      padding-top: 45px;
      
  }

  .form-lable{
      font-size: 14px;
      line-height: normal;
      color:  #444444;
      padding-top: 25px;
  }

  .form-lable-friendship{
      font-size: 16px;
      line-height: normal;
      color:  #444444;
      padding-top: 25px;
  }

  .custom-form-input{
      border: none;
      font-size: 14px;
      line-height: normal;
      color: rgba(0, 0, 0, 0.54);
      padding-left: 0px;
      box-shadow: none;
    //   resize: none;
      overflow: overlay;
      margin-bottom: 1px;
    //   ::placeholder{
    //       color: #BDBDBD;
    //   }
  }

  .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: flex;
      padding-top: 27px;

      p{
        font-size: 14px;
        line-height: normal;
        color: #444444;
      }

      .upload{
        border: none;
        background-color: transparent;
        position: absolute;
        right: 0;
      }

      .btn {
          color: #444444;
          background-color: white;
          font-size: 14px;
          padding-left: 0px;
        }
        span{
          margin-left: 295px;
        }
    }
    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
     
    }

    .custom-gallery-button{
      text-align: center;
      padding-top: 23px;
      .custom-button{
          text-align: center;
          // width: 450px;
          background-color: red;
          border-radius: 5px;
          padding: 10px;
          font-size: 18px;
          line-height: normal;
          color: #FFFFFF;
          font-weight: bold;
      }
  }

  @media(max-width:500px){
    .main-header{
        padding-top: 26px;
        font-size: 24px;
        margin: 0px;
    }

    .form-lable-top{
        padding-top: 20px;
    }
      .upload-btn-wrapper{
          span{
              margin-left: 184px;
              svg{
                  margin-top: 10px;
              }
            }
      }


      .custom-info-form-group{
          padding: 0px;
      }
  }




}


.footer-section{
  background-color: #F4F4F4;
  text-align: center;
  margin-top: 300px;
  p{
      margin-top: 16px;
      font-size: 16px;
      line-height: 25px;
      color: #444444;
      margin: 0px;
      padding: 28px;
  }

  @media(max-width:500px){
      margin-top: 10px;

      p{
          padding-top: 21px;
          padding-bottom: 14px;
      }
  }
}
//////////////Information Form Css End///////////////////



/////////Modal Css Start/////////

  .custom-modal-header{
      padding: 0px;
      img{
          width: 100%;
          height: 100%;
      }

      span{
          margin: -10px -10px 0px -65px;
      }
  }

  .custom-modal-body{
      padding-bottom: 0px;
      h2{
          font-size: 18px;
          line-height: normal;
          color: #444444;
          margin: 0;
      }

      h5{
          font-size: 14px;
          line-height: normal;
          color: #444444;
          padding-top: 10px;
          padding-bottom: 10px;
          margin: 0;  
      }

      p{
          font-size: 14px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.54);
          padding-top: 8px;
      }
  }

  .custom-modal-footer{
      border: none;
      justify-content: center;
      padding: 30px;
      .custom-gallery-button{
          text-align: center;
          // padding-top: 23px;
          .custom-button{
              text-align: center;
              // width: 280px;
              background-color: red;
              border-radius: 5px;
              padding: 10px;
              font-size: 18px;
              line-height: normal;
              color: #FFFFFF;
              font-weight: bold;
          }
      }
  }


  @media(max-width:500px){
      .custom-modal{
          .modal-dialog{
            margin: 0;
          }
          .custom-modal-body{
              h2{
              text-align: center;
              }
              h5{
              text-align: center;
              }
          }

      }

  }


/////////Modal Css End/////////
.custom-card-info{
  padding-bottom: 30px;
}
.home-wrapper .main-navigation-section .main-navigation .custom-navbar {
    box-shadow: none;
     opacity: 1; 
    position: fixed;
    width: 100%;
    z-index: 44;
}
.modal-home{
  .modal-dialog{
    width: 350px;
  }
  .modal-header{
    border-bottom: 0;
    padding: 9px;
    padding-bottom: 0;
  }
  .modal-body{
    padding: 0;
    // padding-bottom: 20px;
    p{
     margin-bottom: 0;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #444444;
    font-weight: 500;
    padding: 58px;
    padding-top: 0;
    padding-bottom: 0;
    }
  }
}
.airtel-sudo-modal-section .custom-modal-footer .custom-gallery-button .custom-button{
  padding-left: 20px;
    padding-right: 20px;
}
.airtel-sudo-modal-section .custom-modal-footer .custom-gallery-button .custom-button {
    font-weight: 500;
}
.custom-gallery-button{

}
.custom-gallery-header span {
    margin: -10px -10px 0px -65px!important;
}
.gallery-modal{
  p{
    margin: 0;
  }
}
 .custom-view-more .custom-button {
    padding-left: 40px!important;
    padding-right: 40px!important;
    margin-bottom: 70px;
}
.link-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}
.no-padding{
  padding: 0;
}
#file_button {
    display: block;
}



@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
//     .video-list {
//     height: 200px!important;
// }
.main-navigation-section .main-navigation .custom-navbar {
    padding: 0!important;
}
.main-navigation-section .main-navigation .custom-navbar .custom-navbar-brand svg {
    width: 50px;
}
.home-wrapper .main-navigation-section .main-navigation .custom-navbar{
    padding-top: 0;
}

#custom-seekbar {
    margin-top: -1px;
}
// .video-wrapper .first-vedio {
//     height: 200px;
// }
.video-list .first-vedio{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.video-list{
    background-color: black;
}
.video-wrapper .index-2 {
    position: absolute;
    left: 0;
    right: 0;
}
#video-controls #play-pause {
    height: 100%;
}
#custom-seekbar {
    top: 0px;
}
.main-navigation{
    height: 36px;
}
.section-bottom {
    min-height: 295px;
}
}
@media(max-width:420px){
    .section-bottom {
    // min-height: 350px;
}
}
@media(max-width:350px){
    .visible-mobile{
        .list-inline-item{
            margin-bottom: 10px;
        }
    }
    .modal-home .modal-dialog {
    width: 320px;
}
}

// @media screen and (orientation: landscape){
//     .row-reverse {
//         flex-direction: unset;
      
//         .home-right {
//           border-bottom: none;
//         }
      
//         .visible-desktop {
//           display: block;
//           width: 314px;
//           padding-top: 10px;
//           margin-left: -15px;
//         }
      
//         .visible-mobile {
//           display: none;
//         }
//       }
// }

// @media screen and (min-width:1100px){
//     .row-reverse{
//         .visible-desktop{
//             width: auto;
//         }
//     }
// }

// @media screen and (max-width:320px){
//     .row-reverse{
//         .visible-mobile{
//             width: 315px;
//             margin-left: -12px;
//         }
//     }
// }



